rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global safety net - default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow the server (which makes unauthenticated client SDK requests) to load and save user profiles
    match /users/{email} {
      allow read, write: if true;
    }
  }
}
